.fileNames {
    width: 100%;
    height: 100%;

}

#body {
    background-color: #444444;
}


.pannels {
    width: 400px;
    height: 400px;
    border: 1em solid #000000;
    padding: 20px;
    margin: 40px;
    float: left;
    background-position: center;
    background-size: cover;
}

.clearboth {
    clear: both;

}

@media all and (min-width:500px) {
    .pannels {
        padding: 20px;
        margin: 20px;
        width: 100px;
        height: 100px;
    }

}

@media all and (min-width:1000px) {
    .pannels {
        padding: 20px;
        margin: 20px;
        width: 350px;
        height: 350px;
    }

}
