body {
    background-color: #aaffdd;
}

h1 {
    color: aqua;
    font-size: 24px;
}

div {
    font-size: 1.em
}

div h1 {
    font-size: 72pt;
}

@media all and (min-width:600px) {
    body {
        background-color: #0099dd
    }

    h1 {
        color: black;
        font-size: 20pt
    }

}
